html {
	margin: 0px;
	height: 100%;
}
body {
	background: transparent url(../imgs/bg-gray.png) repeat;
	color: #888888;
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
	height: 100%;
}
#eMain {
	position: relative;
	background: transparent none repeat-x center 300px;
}
#eMain .body, h1 {
	opacity: 0;
}
#eMain.bgless {
	background: none;
}
h1, .h1 {
	margin: 0;
	font-size: 40px;
	color: #000;
	line-height: 40px;
	text-shadow: 1px 1px 2px #666666;
}
h2, .h2 {
	margin: 0;
	font-size: 25px;
	font-weight: normal;
	color: #333;
	line-height: 25px;
}
h3 {
	margin: 0 0 10px 0;
	font-size: 18px;
	color: #000;
	line-height: 30px;
}
h4 {
	margin: 0 0 20px;
	font-size: 13px;
	line-height: 150%;
	color: #333333;
}
h5 {
	margin: 0;
}
h6 {
	margin: 0;
	font-size: 12px;
}
p {
	margin: 0 0 30px;
	font-size: 16px;
	color: #666;
	line-height: 150%;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ul li {
	list-style: none;
	margin: 0px;
	font-size: 13px;
	line-height: 175%;
}
a {
	text-decoration: inherit;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
a.link {
	color: blue;
}
img {
	border: 0px none;
}
img.float-left {
	float: left;
	margin: 0 20px 0 0;
}
select {
	
}
select option {
	font-size: 14px;
}
pre {
	font-family: courier new, monospace;
	font-size: 12px;
	color: #333333;
	padding: 10px 0 10px 10px;
	background: #EEE;
	overflow: hidden;
	border: 1px dotted #AAAAAA;
}
input.find {
	border-radius: 15px;
	border: 1px solid #CCCCCC;
	box-shadow: 1px 1px 1px inset;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	color: #666;
}
strong {
	color: #333;
}
label {
    font-family: Segoe UI,arial;
    font-size: 18px;
}
hr {
	display: block;
	clear: both;
	border: none;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #FFF;
	opacity: 0.7;
	margin: 10px auto;
}
table {
	border-spacing: 0px;
	border-collapse: collapse;
}
td, th {
	line-height: 30px;
	padding: 0px;
}
/******************************* ADMIN ****************************************/
.left-pane {
	background: #DFE3EC;
}
header.admin {
	position: relative;
	display: block;
	overflow: hidden;
}
header div.space div.main {
	height: 66px;
}
header div.space div.toolbar {
	height: 51px;
}
header div.space div.directory {
	height: 29px;
}
header div.holder {
	position: fixed;
	top: 0px;
	width: 100%;
	color: #101211;
	overflow: hidden;
	z-index: 10;
	abackground-color: #C7C7C7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#A4A8A7));
	background-image: -webkit-linear-gradient(#E9E9E9, #A4A8A7);
	background-image: -moz-linear-gradient(#E9E9E9, #A4A8A7);
	background-image: linear-gradient(#E9E9E9, #A4A8A7);
}
	header.admin h1 {
		width: auto;
		margin: 0px;
		line-height: 64px;
		float: left;
		margin: 0 0 0 20px;
	}
	header.admin nav {
		position:relative;
		display: block;
		width: 100%;
		border-top: 1px solid #EFF2F6;
		border-bottom: 1px solid #808080;
		overflow: hidden;
		padding: 0 4px 0 4px;
		background: transparent none;
		box-shadow: none;
	}
		header.admin nav a span {
			border: none;
			width: 38px;
			height: 38px;
			padding: 5px 20px;
		}
		header.admin nav a em {
			line-height: 38px;
			margin: 5px 10px;
			font-size: smaller;
			font-style: normal;
		}
		header.admin nav a img {
			border: none;
			width: auto;
			height: 38px;
		}
	header.admin nav.main {
		height: 64px;
	}
	header.admin nav.toolbar {
		height: 48px;
	}
		header.admin nav.toolbar a, header.admin nav.toolbar span.group-button {
			width: auto;
			height: 36px;
			margin: 4px 4px 0;
			line-height: 36px;
			text-decoration: none;
		}
			header.admin nav.toolbar a img {
				border: none;
				width: 32px;
				height: 32px;
				margin: 2px 5px 0;
			}
	header.admin nav.directory {
		font-size: x-small;
	}
		header.admin nav.directory a.button {
			background: url("../imgs/location-bg.png") no-repeat scroll right center transparent;
			padding: 0 10px 0 32px;
			border-radius: 0;
			line-height: 28px;
			height: 28px;
			margin: 0px -30px 0 4px;
			border: none;
			box-shadow: none;
		}
			header.admin nav.directory a.button:hover {
				box-shadow: none;
			}
			header.admin nav.directory a.button:first-child {
				margin-left: -4px;
				padding-left: 10px;
				z-index: 12;
			}
header.admin a.float-right {
	float: right;
}
header.admin a.link, header.toolbar a.link {
	color: #006;
	display: inline;
	float: none;
	width: auto;
	height: auto;
	margin: 0px;
	line-height: inherit;
	background: none;
	border: none;
	border-radius: 0px;
	box-shadow: 0 0 0;
	overflow: inherit;
}
/*******************************************************************************
*                                                                              *
*                                EDITOR                                        *
*                                                                              *
*******************************************************************************/
body .Editor-TabbedPaneC {
	position: relative;
	padding: 30px 370px 30px 30px;
}
body .Editor-TabbedPaneC .TabbedPane > .body {
	position: relative;
	box-shadow: 1px 1px 3px #999999;
	-webkit-box-shadow: 1px 1px 3px #999999;
	overflow-x: hidden;
	overflow-y: auto;
}
#ePublishC {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 300px;
	text-align: center;
}
	#ePublishC .imgC {
		display: block;
		width: 290px;
		height: 230px;
		margin-bottom: 10px;
	}
body .SplitPane-horizontal .left-pane {
	position: fixed;
	top: auto;
	overflow: auto;
}
body .SplitPane-horizontal .Grid .body .link div {
	text-decoration: underline;
	color: #66F;
	cursor: pointer;
}
body .SplitPane-horizontal .right-pane div.info {
	width: auto;
	float: none;
	font-size: 48px;
	font-weight: bolder;
	text-align: center;
}
/* New item */
body .Editor-new-item {
	position: relative;
	margin: 30px auto 0;
	overflow: hidden;
	float: none;
	display: block;
	border: 1px solid #CCC;
	background: white;
	box-shadow: 1px 1px 3px #999999;
	-webkit-box-shadow: 1px 1px 3px #999999;
}
/************************** BUTTONS *******************************************/
a.button, span.group-button {
	position: relative;
	display: block;
	float: left;
	margin: 8px 8px 0;
	line-height: inherit;
	background-color: #DEDEDE;
	background-image: -webkit-linear-gradient(#FDFDFD, #B8B8B8);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#B8B8B8));
	background-image: -moz-linear-gradient(#FDFDFD, #B8B8B8);
	background-image: linear-gradient(#FDFDFD, #B8B8B8);
	text-align: center;
	border: 1px solid #757575;
	border-radius: 6px;
	overflow: hidden;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
a.button:hover, .e-select:hover span.button {
	box-shadow: 0px 0px 2px #666;
	-webkit-box-shadow: 0px 0px 2px #666;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
a.button span, span.group-button a {
	display: block;
	background: rgba(255,255,255, 0);
	transition: background 1s;
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
}
a.button:hover span, span.group-button a:hover {
	background: rgba(255,255,255, 0.4);
	transition: background 0.3s;
	-moz-transition: background 0.3s;
	-webkit-transition: background 0.3s;
}
a.button:active span, span.group-button a:active {
	background: rgba(255,255,255, 0);
}
a.button:active, a.button.selected,
span.group-button a:active,
span.group-button a.selected {
	top: 1px;
	box-shadow: inset 2px 2px 7px #000;
	background: #AAA;
}
a.button img, span.group-button a img {
	position: relative;
	display: block;
	border-radius: 8px;
}
/********************** HREF-BUTTON *******************************************/
a.href-button {
	display: block;
	text-align: center;
	border-radius: 7px;
	line-height: 40px;
	box-shadow: 1px 1px 4px #999988;
	color: #000;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 0px 1px #fff;
	text-decoration: none;
	margin-bottom: 5px;
}
a.href-button span {
	position: relative;
	border: 1px solid #999999;
	border-radius: 7px;
	display: block;
	background-color: #FFE55D;
	background-color: rgba(250, 170, 0, 0);
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
}
a.href-button span:hover {
	background-color: #F9D300;
	background-color: rgba(250, 170, 0, 0.5);
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
}
a.href-button span:active, a.href-button.focused span {
	top: 1px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 7px #000000 inset;
	-webkit-box-shadow: 2px 2px 7px #000000 inset;
}
a.href-button-ok {
	background-color: #FBCE52;
	background-image: -webkit-linear-gradient(#F9EE7A, #FDAA26);
	background-image: -moz-linear-gradient(#FBF39B, #FBD257 48%, #FCC548 52%, #FDA81A);
	background-image: -ms-linear-gradient(#F9EE7A, #FDAA26);
	background-image: -o-linear-gradient(#F9EE7A, #FDAA26);
	background-image: linear-gradient(#F9EE7A, #FDAA26);
}
a.href-button-ok span {
	border: 1px solid #DCB452;
}
a.href-button-cancel {
	background: #DAD8DA;
	background-image: -webkit-linear-gradient( top, #FFF, #DDDBDD 48%, #CFCFCF 52%, #C1C1C1);
	background-image: -moz-linear-gradient( top, #FFF, #DDDBDD 48%, #CFCFCF 52%, #C1C1C1);
	background-image: linear-gradient( top, #FFF, #DDDBDD 48%, #CFCFCF 52%, #C1C1C1);
}
a.href-button-cancel span {
	border: 1px solid #AAA;
}
a.href-button-cancel span:hover {
	background-color: #FFF;
	background-color: rgba( 255, 255, 255, 0.7);
}
a.href-button-light span:hover {
	background-color: #FFF;
	background-color: rgba( 255, 255, 255, 0.7);
}
a.href-button-warning {
	background: #A80606;
	background-image: linear-gradient( top, #A80606, #900505 48%, #780404 52%, #3C0202);
	background-image: -moz-linear-gradient( top, #A80606, #900505 48%, #780404 52%, #3C0202);
	background-image: -webkit-linear-gradient( top, #A80606, #900505 48%, #780404 52%, #3C0202);
}
a.href-button-warning span {
	border: 1px solid #350202;
	color: #EEEEEE;
	text-shadow: -1px -1px 1px #000;
}
a.href-button-warning span:hover {
	background-color: #C20707;
	background-color: rgba( 194, 7, 7, 0.7);
}
a.href-button-disabled {
	background: #FDE6A3;
	background-image: linear-gradient(#FDFAD0, #FDD47B);
	background-image: -webkit-linear-gradient(#FDFAD0, #FDD47B);
	background-image: -moz-linear-gradient(#FDFAD0, #FDD47B);
	color: #A59570;
	box-shadow: 0px -1px 1px #EEE;
	-webkit-box-shadow: 0px -1px 1px #EEE;
	-moz-box-shadow: 0px -1px 1px #EEE;
}
a.href-button-disabled span {
	cursor: default;
	background: none !important;
	background-image: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
/******************************* GROUP-BUTTON *********************************/
span.group-button {
	width: auto !important;
	overflow: visible;
}
span.group-button a {
	height: 48px;
	float: left;
	margin: 0px !important;
}
span.group-button a:first-child {
	border-radius: 6px 0px 0 6px;
}
span.group-button a:last-child {
	border-radius: 0px 6px 6px 0;
}
span.group-button > small {/*separator*/
	float: left;
	width: 2px;
	opacity: 0.4;
}
	span.group-button > small span {
		position: relative;
		width: 0px;
		height: 100%;
		display: block;
		border-left: 1px solid #757575;
		border-right: 1px solid #EEE;
	}
span.group-button a img {
	border-radius: 0px;
	height: 42px;
	margin: 4px 5px 0;
}
/********************** MODAL *************************************************/
.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	background: #EEE;
	padding: 10px 10px 20px;
	display: none;
	border: 1px solid #ccc;
	z-index: 1000000;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 80px 5px #334;
	-moz-box-shadow: 0 0 80px 5px #334;
	box-shadow: 0 0 80px 5px #334;
}
/********************** MODAL-INFO ********************************************/
.modal-info {
	box-shadow: 1px 1px 3px #888;
	border-radius: 3px;
	padding:10px;
	background: #FFF;
}
.modal-info h3 {
	padding: 5px 10px;
	border-radius: 4px 4px 0 0;
	margin: -10px -10px 10px;
	background: #EBEBEB;
	background-image: linear-gradient(#F5F5F5, #E1E1E1);
	background-image: -moz-linear-gradient(#F5F5F5, #E1E1E1);
	background-image: -webkit-linear-gradient(#F5F5F5, #E1E1E1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#E1E1E1));
}
.modal-info .line {
	position: relative;
	width: auto;
	line-height: 30px;
	float: none;
	font-size: smaller;
	overflow: hidden;
	padding: 0px 4px;
}
.modal-info .line .name {
	float: left;
	width: 40%;
}
.modal-info .line .value {
	float: left;
	width: 60%;
}
.modal-info .line .value input {
	display: block;
	margin: 4px 0 4px auto;
	width: 90%;
}
.modal-info hr {
	margin: 0 auto;
}
.modal-info .line .value .Switch {
	margin: 4px 0 4px auto;
}
.modal-info .line .value .Switch input {
	display: none;
}
.modal-info ul.folder li {
	margin: 0 0px;
}

/************************************* RWD - visibility ***********************/
.mobile-visible {
	display: none !important;
}
.tablet-visible {
	display: none !important;
}
.desktop-hidden {
	display: none !important;
}
.desktop-visible {
	display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
	.desktop-hidden {
		display: inherit !important;
	}
	.desktop-visible {
		display: none !important ;
	}
	.tablet-visible {
		display: inherit !important;
	}
	.tablet-hidden {
		display: none !important;
	}
	.tablet-unfloat {
		clear: both !important;
		width: 100% !important;
	}
}
@media (max-width: 979px) {
	.fluid-12 .t-grid-1	{	width:14.667%	;}	.fluid-12 .alpha.t-grid-1		,.fluid-12 .omega.t-grid-1	{	width:15.667%;}		.fluid-12 .marginless.t-grid-1	{	margin-left:0px ; margin-right:0px; width:16.667% ;}
	.fluid-12 .t-grid-2	{	width:31.333%	;}	.fluid-12 .alpha.t-grid-2		,.fluid-12 .omega.t-grid-2	{	width:32.333%;}		.fluid-12 .marginless.t-grid-2	{	margin-left:0px ; margin-right:0px; width:33.333% ;}	
	.fluid-12 .t-grid-3	{	width:48.0%		;}	.fluid-12 .alpha.t-grid-3		,.fluid-12 .omega.t-grid-3	{	width:49.0%; }		.fluid-12 .marginless.t-grid-3	{	margin-left:0px ; margin-right:0px; width:50.0% ;}	
	.fluid-12 .t-grid-4	{	width:64.667%	;}	.fluid-12 .alpha.t-grid-4		,.fluid-12 .omega.t-grid-4	{	width:65.667%;}		.fluid-12 .marginless.t-grid-4	{	margin-left:0px ; margin-right:0px; width:66.667% ;}	
	.fluid-12 .t-grid-5	{	width:81.333%	;}	.fluid-12 .alpha.t-grid-5		,.fluid-12 .omega.t-grid-5	{	width:82.333%;}		.fluid-12 .marginless.t-grid-5	{	margin-left:0px ; margin-right:0px; width:83.333% ;}	
	.fluid-12 .t-grid-6	{	width:98.0%		;}	.fluid-12 .alpha.t-grid-6		,.fluid-12 .omega.t-grid-6	{	width:99.0%; }		.fluid-12 .marginless.t-grid-6	{	margin-left:0px ; margin-right:0px; width:100.0% ;}	
}
@media (max-width: 767px) {
	.desktop-hidden {
		display: inherit !important;
	}
	.desktop-visible {
		display: none !important;
	}
	.mobile-visible {
		display: inherit !important;
	}
	.mobile-hidden {
		display: none !important;
	}
	.mobile-unfloat {
		clear: both;
		width: 100% !important;
	}
	.fluid-12 .m-grid-1	{	width:31.333%	;}	.fluid-12 .alpha.m-grid-1		,.fluid-12 .omega.m-grid-1	{	width:32.333%;}		.fluid-12 .marginless.m-grid-1	{	margin-left:0px ; margin-right:0px; width:33.333% ;}	
	.fluid-12 .m-grid-1h{	width:48.0%		;}	.fluid-12 .alpha.m-grid-1h		,.fluid-12 .omega.m-grid-1h	{	width:49.0%; }		.fluid-12 .marginless.m-grid-3	{	margin-left:0px ; margin-right:0px; width:50.0% ;}	
	.fluid-12 .m-grid-2	{	width:64.667%	;}	.fluid-12 .alpha.m-grid-2		,.fluid-12 .omega.m-grid-2	{	width:65.667%;}		.fluid-12 .marginless.m-grid-2	{	margin-left:0px ; margin-right:0px; width:66.667% ;}	
	.fluid-12 .m-grid-3	{	width:98.0%		;}	.fluid-12 .alpha.m-grid-3		,.fluid-12 .omega.m-grid-3	{	width:99.0%; }		.fluid-12 .marginless.m-grid-3	{	margin-left:0px ; margin-right:0px; width:100.0% ;}
}
