/******************************* MENU *****************************************/


/************** GENERICS (mirror in the new css file: /admin/css/admin.css) ***/
html {
	margin: 0px;
	height: 100%;
}
body {
	background: transparent url(../imgs/bg-gray.png) repeat;
	color: #888888;
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
	height: 100%;
}
#eMain {
	position: relative;
	background: transparent none repeat-x center 300px;
}
#eMain .body, h1 {
	opacity: 0;
}
#eMain.bgless {
	background: none;
}
h1, .h1 {
	margin: 0;
	font-size: 40px;
	color: #000;
	line-height: 40px;
	text-shadow: 1px 1px 2px #666666;
}
h2, .h2 {
	margin: 0;
	font-size: 25px;
	font-weight: normal;
	color: #333;
	line-height: 25px;
}
h3 {
	margin: 0 0 10px 0;
	font-size: 18px;
	color: #000;
	line-height: 30px;
}
h4 {
	margin: 0 0 20px;
	font-size: 13px;
	line-height: 150%;
	color: #333333;
}
h5 {
	margin: 0;
}
h6 {
	margin: 0;
	font-size: 12px;
}
p {
	margin: 0 0 30px;
	font-size: 16px;
	color: #666;
	line-height: 150%;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ul li {
	list-style: none;
	margin: 0px;
	font-size: 13px;
	line-height: 175%;
}
a {
	text-decoration: inherit;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
a.link {
	color: blue;
}
img {
	border: 0px none;
}
img.float-left {
	float: left;
	margin: 0 20px 0 0;
}
select {
	
}
select option {
	font-size: 14px;
}
pre {
	font-family: courier new, monospace;
	font-size: 12px;
	color: #333333;
	padding: 10px 0 10px 10px;
	background: #EEE;
	overflow: hidden;
	border: 1px dotted #AAAAAA;
}
input.find {
	border-radius: 15px;
	border: 1px solid #CCCCCC;
	box-shadow: 1px 1px 1px inset;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	color: #666;
}
strong {
	color: #333;
}
label {
    font-family: Segoe UI,arial;
    font-size: 18px;
}
hr {
	display: block;
	clear: both;
	border: none;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #FFF;
	opacity: 0.7;
	margin: 10px auto;
}
table {
	border-spacing: 0px;
	border-collapse: collapse;
}
td, th {
	line-height: 30px;
	padding: 0px;
}
/************************** BUTTONS *******************************************/
a.button, span.group-button {
	position: relative;
	display: block;
	float: left;
	margin: 8px 8px 0;
	line-height: 48px;
	background-color: #DEDEDE;
	background-image: -webkit-linear-gradient(#FDFDFD, #B8B8B8);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#B8B8B8));
	background-image: -moz-linear-gradient(#FDFDFD, #B8B8B8);
	background-image: linear-gradient(#FDFDFD, #B8B8B8);
	text-align: center;
	border: 1px solid #757575;
	border-radius: 6px;
	overflow: hidden;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
a.button:hover, .e-select:hover span.button {
	box-shadow: 0px 0px 2px #666;
	-webkit-box-shadow: 0px 0px 2px #666;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
a.button span, span.group-button a, span.group-button button {
	display: block;
	background: rgba(255,255,255, 0);
	transition: background 1s;
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
	text-decoration: none;
}
a.button:hover span, span.group-button a:hover, span.group-button button:hover {
	background: rgba(255,255,255, 0.4);
	transition: background 0.3s;
	-moz-transition: background 0.3s;
	-webkit-transition: background 0.3s;
}
a.button:active span, span.group-button a:active, span.group-button button:active {
	background: rgba(255,255,255, 0);
}
a.button:active,
span.group-button a:active, span.group-button button:active,
span.group-button a.selected, span.group-button button.selected {
	top: 1px;
	box-shadow: inset 2px 2px 7px #000;
	background: #AAA;
}
a.button img, span.group-button a img {
	position: relative;
	display: block;
	border-radius: 8px;
}
/******************************* GROUP-BUTTON *********************************/
span.group-button {
	width: auto !important;
	overflow: visible;
}
span.group-button a, span.group-button button {
	height: 48px;
	float: left;
	margin: 0px !important;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
}
span.group-button a:first-child, span.group-button button:first-child {
	border-radius: 6px 0px 0 6px;
}
span.group-button a:last-child, span.group-button button:last-child {
	border-radius: 0px 6px 6px 0;
}
span.group-button > small {/*separator*/
	float: left;
	width: 2px;
	opacity: 0.4;
}
	span.group-button > small span {
		position: relative;
		width: 0px;
		height: 100%;
		display: block;
		border-left: 1px solid #757575;
		border-right: 1px solid #EEE;
	}
span.group-button a img, span.group-button button img {
	border-radius: 0px;
	height: 42px;
	margin: 4px 5px 0;
}
/******************************* A.A-BUTTON ***********************************/
a.a-button {
	position: relative;
	display: block;
	background: white;
	text-decoration: none;
	margin-bottom: 4px;
	border: 3px solid #FFF;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 0px 2px 4px #AAA;
	-moz-box-shadow: 0px 2px 4px #AAA;
	-webkit-box-shadow: 0px 2px 4px #AAA;
	background: #92C16B;
	background-image: -moz-linear-gradient( top, #F7FFD5, #B6FC7D 40%, #91DD4D 50%, #5DB811);
	background-image: -webkit-linear-gradient( top, #F7FFD5, #B6FC7D 40%, #91DD4D 50%, #5DB811);
	background-image: -ms-linear-gradient( top, #F7FFD5, #B6FC7D 40%, #91DD4D 50%, #5DB811);
	background-image: -o-linear-gradient( top, #F7FFD5, #B6FC7D 40%, #91DD4D 50%, #5DB811);
}
a.a-button span {
	position: relative;
	display: block;
	font-size: 16px;
	line-height: 22px;
	padding: 0 0 0 63px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	box-shadow: 1px 1px 1px #345D12;
	-webkit-box-shadow: 1px 1px 1px #345D12;
	background-color: rgba(150,150,150,0.3);
	transition: background 0.4s;
	-moz-transition: background 0.4s;
	-webkit-transition: background 0.4s;
	-ms-transition: background 0.4s;
	-o-transition: background 0.4s;
}
a.a-button em {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 59px;
	height: 53px;
	display: block;
	background: #91DD4D;
	background-image: linear-gradient( top, #F7FFD5, #B6FC7D 40%, #91DD4D 50%, #5DB811);
	background-image: -moz-linear-gradient( top, #F7FFD5, #B6FC7D 40%, #91DD4D 50%, #5DB811);
	background-image: -webkit-linear-gradient( top, #F7FFD5, #B6FC7D 40%, #91DD4D 50%, #5DB811);
	background-image: -ms-linear-gradient( top, #F7FFD5, #B6FC7D 40%, #91DD4D 50%, #5DB811);
	background-image: -o-linear-gradient( top, #F7FFD5, #B6FC7D 40%, #91DD4D 50%, #5DB811);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: background 0.4s;
	-moz-transition: background 0.4s;
	-webkit-transition: background 0.4s;
	-ms-transition: background 0.4s;
	-o-transition: background 0.4s;
}
a.a-button span img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 58px;
}
a.a-button span strong {
	display: block;
	line-height: 26px;
	padding-top: 5px;
	color: #FFF;
	text-shadow: 1px 1px 3px #333;
}
a.a-button span small {
	display: block;
	color: #E1E1E1;
	font-size: 10px;
	overflow: hidden;
	margin-right: 20px;
	text-shadow: 1px 1px 1px #444;
}
a.a-button:hover span {
	background-color: rgba(255,255,255,0);
	transition: background 0.4s;
	-moz-transition: background 0.4s;
	-webkit-transition: background 0.4s;
	-ms-transition: background 0.4s;
	-o-transition: background 0.4s;
}
a.a-button:hover em {
	width: 59px;
	height: 53px;
	transition: background 0.4s;
	-moz-transition: background 0.4s;
	-webkit-transition: background 0.4s;
	-ms-transition: background 0.4s;
	-o-transition: background 0.4s;
}
body a.close-button {
	width: 59px;
	height: 53px;
	background-image: linear-gradient( top, #CB1C18, #FD392F 50%, #9C0F0C);
	background-image: -moz-linear-gradient( top, #CB1C18, #FD392F 50%, #9C0F0C);
	background-image: -webkit-linear-gradient( top, #CB1C18, #FD392F 50%, #9C0F0C);
	background-image: -webkit-gradient( linear, left top, from(#CB1C18), to(#FD392F), color-stop(0.5, #9C0F0C));
	background-image: -ms-linear-gradient( top, #CB1C18, #FD392F 50%, #9C0F0C);
	background-image: -o-linear-gradient( top, #CB1C18, #FD392F 50%, #9C0F0C);
}
a.close-button span {
	padding: 0px;
	box-shadow: 0px 0px 1px #880000;
	-moz-box-shadow: 0px 0px 1px #880000;
	-webkit-box-shadow: 0px 0px 1px #880000;
	-ms-box-shadow: 0px 0px 1px #880000;
	-o-box-shadow: 0px 0px 1px #880000;
}
a.close-button em {
	position: relative;
	background: url(../../imgs/gt8/bt-close-white.png) no-repeat center;
}
a.close-button:hover span {
	box-shadow: 0px 0px 1px #880000;
	-moz-box-shadow: 0px 0px 1px #880000;
	-webkit-box-shadow: 0px 0px 1px #880000;
	-ms-box-shadow: 0px 0px 1px #880000;
	-o-box-shadow: 0px 0px 1px #880000;
}
a.close-button:hover em {
	background: url(../../imgs/gt8/bt-close-white.png) no-repeat center;
}
a.close-button:active span {
	margin: 1px 0 0 1px;
	background-color: rgba(0,0,0,0.2);
	transition: background 0.1s;
	-moz-transition: background 0.1s;
	-webkit-transition: background 0.1s;
	-ms-transition: background 0.1s;
	-o-transition: background 0.1s;
}
/********************** HREF-BUTTON *******************************************/
a.href-button {
	display: block;
	text-align: center;
	border-radius: 7px;
	line-height: 40px;
	box-shadow: 1px 1px 4px #999988;
	color: #000;
	font-weight: bold;
	text-shadow: 0px 1px #fff;
	text-decoration: none;
	margin-bottom: 5px;
}
a.href-button span {
	position: relative;
	border: 1px solid #999999;
	border-radius: 7px;
	display: block;
	background-color: #FFE55D;
	background-color: rgba(250, 170, 0, 0);
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
}
a.href-button span:hover {
	background-color: #F9D300;
	background-color: rgba(250, 170, 0, 0.5);
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
}
a.href-button span:active, a.href-button.focused span {
	top: 1px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 7px #000000 inset;
	-webkit-box-shadow: 2px 2px 7px #000000 inset;
}
a.href-button-ok {
	background-color: #FBCE52;
	background-image: -webkit-linear-gradient(#F9EE7A, #FDAA26);
	background-image: -moz-linear-gradient(#FBF39B, #FBD257 48%, #FCC548 52%, #FDA81A);
	background-image: -ms-linear-gradient(#F9EE7A, #FDAA26);
	background-image: -o-linear-gradient(#F9EE7A, #FDAA26);
	background-image: linear-gradient(#F9EE7A, #FDAA26);
}
a.href-button-ok span {
	border: 1px solid #DCB452;
}
a.href-button-cancel {
	background: #DAD8DA;
	background-image: -webkit-linear-gradient( top, #FFF, #DDDBDD 48%, #CFCFCF 52%, #C1C1C1);
	background-image: -moz-linear-gradient( top, #FFF, #DDDBDD 48%, #CFCFCF 52%, #C1C1C1);
	background-image: linear-gradient( top, #FFF, #DDDBDD 48%, #CFCFCF 52%, #C1C1C1);
}
a.href-button-cancel span {
	border: 1px solid #AAA;
}
a.href-button-cancel span:hover {
	background-color: #FFF;
	background-color: rgba( 255, 255, 255, 0.7);
}
a.href-button-light span:hover {
	background-color: #FFF;
	background-color: rgba( 255, 255, 255, 0.7);
}
a.href-button-warning {
	background: #A80606;
	background-image: linear-gradient( top, #A80606, #900505 48%, #780404 52%, #3C0202);
	background-image: -moz-linear-gradient( top, #A80606, #900505 48%, #780404 52%, #3C0202);
	background-image: -webkit-linear-gradient( top, #A80606, #900505 48%, #780404 52%, #3C0202);
}
a.href-button-warning span {
	border: 1px solid #350202;
	color: #EEEEEE;
	text-shadow: -1px -1px 1px #000;
}
a.href-button-warning span:hover {
	background-color: #C20707;
	background-color: rgba( 194, 7, 7, 0.7);
}
a.href-button-disabled {
	background: #FDE6A3;
	background-image: linear-gradient(#FDFAD0, #FDD47B);
	background-image: -webkit-linear-gradient(#FDFAD0, #FDD47B);
	background-image: -moz-linear-gradient(#FDFAD0, #FDD47B);
	color: #A59570;
	box-shadow: 0px -1px 1px #EEE;
	-webkit-box-shadow: 0px -1px 1px #EEE;
	-moz-box-shadow: 0px -1px 1px #EEE;
}
a.href-button-disabled span {
	cursor: default;
	background: none !important;
	background-image: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
/********************** BUTTONS ***********************************************/
button.medium {
	height: 25px;
	line-height: 25px;
	padding: 1px 5px;
	cursor: pointer;
	border: 1px solid #CCC;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	background: #EEE;
	background: -webkit-linear-gradient( top, #FFF, #CCC);
	background: -moz-linear-gradient( top, #FFF, #CCC);
	background: -ms-linear-gradient( top, #FFF, #CCC);
	background: -o-linear-gradient( top, #FFF, #CCC);
	background: linear-gradient( top, #FFF, #CCC);
	transition: background 1s;
	-moz-transition: background 1s;
}
button:hover {
	background: -webkit-linear-gradient( top, #FFF, #FFF);
	background: -moz-linear-gradient( top, #FFF, #FFF);
	background: -ms-linear-gradient( top, #FFF, #FFF);
	background: -o-linear-gradient( top, #FFF, #FFF);
	background: linear-gradient( top, #FFF, #FFF);
	transition: background 1s;
	-moz-transition: background 1s;
}
button:active {
	background: #CCC;
	background: -webkit-linear-gradient( top, #CCC, #FFF);
	background: -moz-linear-gradient( top, #CCC, #FFF);
	background: -ms-linear-gradient( top, #CCC, #FFF);
	background: -o-linear-gradient( top, #CCC, #FFF);
	background: linear-gradient( top, #CCC, #FFF);
	transition: background 1s;
	-moz-transition: background 1s;
}
button img {
	border: none;
}
button:active img {
	margin: 1px 0px 0 1px;
}
/********************** MODAL *************************************************/
.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	background: #EEE;
	padding: 10px 10px 20px;
	display: none;
	border: 1px solid #ccc;
	z-index: 1000000;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 80px 5px #334;
	-moz-box-shadow: 0 0 80px 5px #334;
	box-shadow: 0 0 80px 5px #334;
}
/********************** MODAL-INFO ********************************************/
.modal-info {
	box-shadow: 1px 1px 3px #888;
	border-radius: 3px;
	padding:10px;
	background: #FFF;
}
.modal-info h3 {
	padding: 5px 10px;
	border-radius: 4px 4px 0 0;
	margin: -10px -10px 10px;
	background: #EBEBEB;
	background-image: linear-gradient(#F5F5F5, #E1E1E1);
	background-image: -moz-linear-gradient(#F5F5F5, #E1E1E1);
	background-image: -webkit-linear-gradient(#F5F5F5, #E1E1E1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#E1E1E1));
}
.modal-info .line {
	position: relative;
	width: auto;
	line-height: 30px;
	float: none;
	font-size: smaller;
	overflow: hidden;
	padding: 0px 4px;
}
.modal-info .line .name {
	float: left;
	width: 40%;
}
.modal-info .line .value {
	float: left;
	width: 60%;
}
.modal-info .line .value input {
	display: block;
	margin: 4px 0 4px auto;
	width: 90%;
}
.modal-info hr {
	margin: 0 auto;
}
.modal-info .line .value .Switch {
	margin: 4px 0 4px auto;
}
.modal-info .line .value .Switch input {
	display: none;
}
.modal-info ul.folder li {
	margin: 0 0px;
}

/********************** TYPOGRAPHY ********************************************/
.text-error {
	color: #A66;
}
/********************** UTILITIES *********************************************/
.wrapper {
	position: relative;
	width: 960px;
	margin: 0px auto;
}
.title-bgbox {
	background: rgb(235, 235, 235);
	background-image: -webkit-linear-gradient(rgb(245, 245, 245), rgb(225, 225, 225));
	background-image: -moz-linear-gradient(rgb(245, 245, 245), rgb(225, 225, 225));
	background-image: linear-gradient(rgb(245, 245, 245), rgb(225, 225, 225));
	box-shadow: 0px 1px 2px rgb(102, 102, 102); 
}
.bg-linear-light {
	background: #CCC;
	background-image: linear-gradient(#FDFDFD, #B8B8B8);
	background-image: -moz-linear-gradient(#FDFDFD, #B8B8B8);
	background-image: -webkit-linear-gradient(#FDFDFD, #B8B8B8);
}
.cardbox-white {
	position: relative;
    border-radius: 4px;
	box-shadow: 0 1px 2px #666666;
	background: #FFF;
}
.cardbox-white h1 {
	position: relative;
	height: 80px;
	line-height: 80px;
	border-radius: 4px 4px 0 0;
	z-index: 1;
}
.cardbox-white h1.border-bottom {
	border-bottom: 1px solid #AAA;
}
.cardbox-white h1 img.spinner {
	position: absolute;
	right: 20px;
	top: 25px;
	height: 30px;
	display: none;
}
.cardbox-white h2 {
	margin-bottom: 15px;
}
.cardbox-white h1 a.logo img {
	height: 54px;
	margin: 0 20px;
	vertical-align: middle;
}
.cardbox-white .box-bglight {
	border-radius: 0 0 0px 4px;
	box-shadow: 1px 0px 0px #DDD;
}
.cardbox-white .cardbox-medium {
	background: #FAFAFA;
	border-radius: 4px;
	box-shadow: 0 1px 2px #777;
}
.cardbox-white .cardbox-medium .title-bgbox {
	line-height: 30px;
	border-radius: 4px 4px 0 0px;
	box-shadow: none;
}
.box-shadow {
	-webkit-box-shadow: 2px 2px 4px #000;
	-moz-box-shadow: 2px 2px 4px #000;
	-ms-box-shadow: 2px 2px 4px #000;
	-o-box-shadow: 2px 2px 4px #000;
	box-shadow: 2px 2px 4px #000;
}
.box-bglight {
	background: #FAFAFA;
}	
.box-shadow-light {
	-webkit-box-shadow: 0px 0px 2px #888;
	-moz-box-shadow: 0px 0px 2px #888;
	-ms-box-shadow: 0px 0px 2px #888;
	-o-box-shadow: 0px 0px 2px #888;
	box-shadow: 0px 0px 2px #888;
}
.border-shadow-light {
	-webkit-box-shadow: 0 0 1px #666666 inset;
	-moz-box-shadow: 0 0 1px #666666 inset;
	-ms-box-shadow: 0 0 1px #666666 inset;
	-o-box-shadow: 0 0 1px #666666 inset;
	box-shadow: 0 0 1px #666666 inset;
}
.border-radius {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
}
.border-radius-small {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.input-rounded-shadowed, .input-rounded-shadowed:hover {
    position: relative;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	font-size: 14px;
	height: 25px;
	letter-spacing: 2px;
	line-height: 26px;
    width: 100% !important;
    padding: 8px 0px;
	text-indent: 6px;
    color: #000000;
    font-family: inherit;
    font-size: inherit;
	background-color: #F1F2F8;
	border: 1px solid #C6C6C6;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	transition-property: background-color, background-image, border-color, box-shadow;
	-moz-transition-property: background-color, background-image, border-color, box-shadow;
	-webkit-transition-property: background-color, background-image, border-color, box-shadow;
	transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
}
.input-rounded-shadowed:focus {
	border: 1px solid #3080C8;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 5px #36A0FF;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 5px #36A0FF;
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 5px #36A0FF;
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 5px #36A0FF;
	background-color: #FFF;
	transition-property: background, border-color, box-shadow;
	-moz-transition-property: background-color, background-image, border-color, box-shadow;
	-webkit-transition-property: background-color, background-image, border-color, box-shadow;
	transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
}
.border {
	border: 1px solid #CCC;
}
body textarea.input-rounded-shadowed, body textarea.input-rounded-shadowed:hover {
	height: 128px;
}
.input-small {
	font-size: 12px;
	border-radius: 3px;
	height: 20px;
	letter-spacing: 1px;
	padding: 3px 0;
}
input.disabled, textarea.disabled {
	background: #FFF;
	color: #BBB;
	box-shadow: none;
}
.fixed-mask {
	font-family: arial;
}
table.bordered {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}
table.bordered td, table.bordered th {
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}
input.readonly, input.readonly:focus, input.readonly:hover,
textarea.readonly, textarea.readonly:focus, textarea.readonly:hover,
select.readonly, select.readonly:focus, select.readonly:hover,
span.e-select span.readonly, span.e-select span.readonly:focus, span.e-select span.readonly:hover {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: #F8F8F8;
	color: #888;
	cursor: default;
	-moz-user-select: none;
	-moz-user-focus: none;
	border: 1px solid #C6C6C6;
}
span.e-select span.readonly strong {
	color: #888;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.bg-head {
	background: #EEE;
}
.stretch {
	width: 100%;
}
.locked-1 {
	background: transparent url(../../imgs/gt8/lock-small.png) no-repeat right bottom;
}
.glass-pane {
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: white;
	opacity: 0;
}
.clear {
	clear: both;
	line-height: 0px;
	height: 0px;
	overflow: hidden;
	display: block;
}
.overflow {
	overflow: hidden;
}
.overflow-hidden {
	overflow: hidden;
}
body .overflow-visible {
	overflow: visible;
}
.line-height {
	line-height: 30px;
}
.height-30 {
	height: 30px;
}
.height-15 {
	height: 15px !important;
}
.height-20 {
	height: 20px !important;
}
.height-160 {
	height: 160px;
}
.height-auto {
	height: auto !important;
}
.block {
	display: block;
	margin-bottom: 30px;
}
.display-block {
	display: block !important;
}
.relative, .position-relative {
	position: relative !important;
}
.margin {
	margin: 30px !important;
}
.margin-small {
	margin: 10px !important;
}
.margin-top {
	margin-top: 30px !important;
}
.margin-top-large {
	margin-top: 50px !important;
}
.margin-bottom {
	margin-bottom: 30px !important;
}
.margin-top-small {
	margin-top: 10px !important;
}
.margin-bottom-small {
	margin-bottom: 10px !important;
}
.margin-bottom-medium {
	margin-bottom: 15px !important;
}
.margin-centered {
	margin-left: auto !important;
	margin-right: auto !important;
}
.margin-left-none {
	margin-left: 0px !important;
}
.margin-right-none {
	margin-right: 0px !important;
}
body .top-marginless {
	margin-top: 0px !important;
}
body .marginless {
	margin: 0px !important;
}
body .paddingless {
	padding: 0px !important;
}
body .marginless-left {
	margin-left: 0;
}
.border-bottom {
	border-bottom: 1px solid #CCC;
}
.borderless {
	border: none !important;
}
.padding-small, .small-padding {
	padding: 9px;
}
.font-size-small {
	font-size: small;
}
.text-indent {
	text-indent: 30px !important;
}
.text-indent-medium {
	text-indent: 20px !important;
}
.text-indent-small {
	text-indent: 10px !important;
}
.text-shadow {
	text-shadow: 2px 2px 4px #666
}
.text-align-left {
	text-align: left !important;
}
.text-align-right {
	text-align: right !important;
}
table.alternated-background tr:nth-child(2n+1) td {
	background: #F2F2F2;
}
table.rounded-rows tr td:first-child, table.rounded-rows tr th:first-child {
	border-radius: 10px 0 0 10px;
}
table.rounded-rows tr td:last-child, table.rounded-rows tr th:last-child {
	border-radius: 0px 10px 10px 0px;
}
.padding {
	padding: 30px;
}
.padding-small {
	padding: 10px;
}
.padding-h {
	padding-left: 30px;
	padding-right: 30px;
}
.padding-v {
	padding-top: 10px;
}
.padding-left {
	padding-left: 30px;
}
.padding-top {
	padding-top: 30px;
}
.ruler {
	clear: both;
	height: 2px;
	line-height: 0px;
	font-size: 0px;
	border-top: 1px solid #E2ECF5;
}
.ruler div {
	border-bottom: 1px solid #78A9D6;
}
#eSpinnerC {
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -16px 0;
	width: 32px;
	height: 32px;
	display: none;
	background: #FFF;
	opacity: 0.8;
	border: 1px solid #CCC;
	z-index: 10000000;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
#eSpinnerC img {
	position: relative;
	left: 8px;
	top: 8px;
	width: 16px;
	height: 16px;
}
.spinner-small {
	background: transparent url(../../imgs/gt8/spinner.gif) no-repeat left center;
}
.spinner-small-hidden {
	background: none;
}
#eOverlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #679 none repeat;
	z-index: 10;
	display: none;
}
.full-width {
	width: 100% !important;
}
.full-height {
	height: 100% !important;
}
.cursor-pointer {
	cursor: pointer;
}
img.left-icon-small {
	position: relative;
	left: 5px;
	top: 2px;
	width: 26px;
	height: 26px;
	margin-right: 10px;
	vertical-align: text-bottom;
}
.font-larger {
	font-size: larger;
}
.error {
	color: #CC3333;
}
/*
	Based on the 1kb grid system - http://www.1kbgrid.com/
	by Tyler Tate
	
	adapted to fit GT8 needs (2011, oct 10)
*/
.line {
	width: auto;
	float: left;
	clear: both;
	overflow: visible;
	clear: both;
}
.line > .line {
	margin: 0 -10px;
}
.row {
	width: 960px;
	clear: both;
}
.row .row {
	margin: 0 -10px 0 -10px;
    width: auto;
}
.col		{ width: auto; }
.col-1		{ width: 20px; }
.col-2bm	{ width: 40px; }
.col-2 		{ width: 60px; }
.col-3bm	{ width: 80px; }
.col-3		{ width: 100px; }
.col-4bm	{ width: 120px; }
.col-4		{ width: 140px; }
.col-5bm	{ width: 160px; }
.col-5		{ width: 180px; }
.col-6		{ width: 220px; }
.col-7		{ width: 260px; }
.col-8bm	{ width: 280px; }
.col-8		{ width: 300px; }
.col-9bm	{ width: 320px; }
.col-9		{ width: 340px; }
.col-10bm	{ width: 360px; }
.col-10		{ width: 380px; }
.col-11		{ width: 420px; }
.col-12		{ width: 460px; }
.col-13		{ width: 500px; }
.col-14		{ width: 540px; }
.col-15		{ width: 580px; }
.col-16		{ width: 620px; }
.col-17		{ width: 660px; }
.col-18bm	{ width: 680px; }
.col-18		{ width: 700px; }
.col-19		{ width: 740px; }
.col-20		{ width: 780px; }
.col-21		{ width: 820px; }
.col-22		{ width: 860px; }
.col-23		{ width: 900px; }
.col-24		{ width: 940px; }
table td .col,
table td .col-1,   table td .col-2,   table td .col-3,   table td .col-4,   table td .col-5,  table td .col-6,
table td .col-7,   table td .col-8,   table td .col-9,   table td .col-10,  table td .col-11, table td .col-12,
table td .col-13,  table td .col-14,  table td .col-15,  table td .col-16,  table td .col-17, table td .col-18,
table td .col-19,  table td .col-20,  table td .col-21,  table td .col-22,  table td .col-23, table td .col-24,
table td .col-1bm, table td .col-2bm, table td .col-3bm, table td .col-4bm, table td .col-5bm, table td .col-8bm, table td .col-9bm, table td .col-10bm, table td .col-18bm {
	display: block;
	margin: 0px;
}
.col,
.col-1,  .col-2,  .col-3,  .col-4,  .col-5,  .col-6,
.col-7,  .col-8,  .col-9,  .col-10, .col-11, .col-12,
.col-13, .col-14, .col-15, .col-16, .col-17, .col-18,
.col-19, .col-20, .col-21, .col-22, .col-23, .col-24,
.col-1bm, .col-2bm, .col-3bm, .col-4bm,  .col-5bm, .col-8bm, .col-9bm, .col-10bm, .col-18bm {
	margin-left: 10px;
	margin-right: 10px;
    float: left;
    display: inline;
}
.row > .col,
.row > .col-1,   .row > .col-2,   .row > .col-3,   .row > .col-4,   .row > .col-5,   .row > .col-6,
.row > .col-7,   .row > .col-8,   .row > .col-9,   .row > .col-10,  .row > .col-11,  .row > .col-12,
.row > .col-13,  .row > .col-14,  .row > .col-15,  .row > .col-16,  .row > .col-17,  .row > .col-18,
.row > .col-19,  .row > .col-20,  .row > .col-21,  .row > .col-22,  .row > .col-23,  .row > .col-24,
.row > .col-1bm, .row > .col-2bm, .row > .col-3bm, .row > .col-4bm, .row > .col-5bm, .row > .col-8bm, .row > .col-9bm, .row > .col-10bm, .row > .col-18bm {
}
.col-margin {
	margin-left: 10px;
	margin-right: 10px;
}
.row .col-padding {
	padding: 30px;
}
.col-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.row label, .line label {
	overflow: visible;
}
/*UTILITIES*/
.hidden {
	display: none;
	display: none !important;
}
.invisible {
	visibility: hidden;
}
.no-display {
	display: none;
}
/******************************* LEFT-PANE (a mirror is in /admin/css/admin.css)*/
.left-pane {
	background: #DFE3EC;
}
header.admin {
	position: relative;
	display: block;
	overflow: hidden;
}
header div.space div.main {
	height: 66px;
}
header div.space div.toolbar {
	height: 51px;
}
header div.space div.directory {
	height: 29px;
}
header div.holder {
	position: fixed;
	top: 0px;
	width: 100%;
	color: #101211;
	overflow: hidden;
	z-index: 10;
	abackground-color: #C7C7C7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#A4A8A7));
	background-image: -webkit-linear-gradient(#E9E9E9, #A4A8A7);
	background-image: -moz-linear-gradient(#E9E9E9, #A4A8A7);
	background-image: linear-gradient(#E9E9E9, #A4A8A7);
}
	header.admin h1 {
		width: auto;
		margin: 0px;
		line-height: 64px;
		float: left;
		margin: 0 0 0 20px;
	}
	header.admin nav {
		position:relative;
		display: block;
		width: 100%;
		border-top: 1px solid #EFF2F6;
		border-bottom: 1px solid #808080;
		overflow: hidden;
		padding: 0 4px 0 4px;
		background: transparent none;
		box-shadow: none;
	}
		header.admin nav a span {
			border: none;
			width: 38px;
			height: 38px;
			padding: 5px 20px;
		}
		header.admin nav a em {
			line-height: 38px;
			margin: 5px 10px;
			font-size: smaller;
			font-style: normal;
		}
		header.admin nav a img {
			border: none;
			width: auto;
			height: 38px;
		}
	header.admin nav.main {
		height: 64px;
	}
	header.admin nav.toolbar {
		height: 48px;
	}
		header.admin nav.toolbar a, header.admin nav.toolbar span.group-button {
			width: auto;
			height: 36px;
			margin: 4px 4px 0;
			line-height: 36px;
			text-decoration: none;
		}
			header.admin nav.toolbar a img {
				border: none;
				width: 32px;
				height: 32px;
				margin: 2px 5px 0;
			}
	header.admin nav.directory {
		font-size: x-small;
	}
		header.admin nav.directory a.button {
			background: url("../imgs/location-bg.png") no-repeat scroll right center transparent;
			padding: 0 10px 0 32px;
			border-radius: 0;
			line-height: 28px;
			height: 28px;
			margin: 0px -30px 0 4px;
			border: none;
			box-shadow: none;
		}
			header.admin nav.directory a.button:hover {
				box-shadow: none;
			}
			header.admin nav.directory a.button:first-child {
				margin-left: -4px;
				padding-left: 10px;
				z-index: 12;
			}
header.admin a.float-right {
	float: right;
}
header.admin a.link, header.toolbar a.link {
	color: #006;
	display: inline;
	float: none;
	width: auto;
	height: auto;
	margin: 0px;
	line-height: inherit;
	background: none;
	border: none;
	border-radius: 0px;
	box-shadow: 0 0 0;
	overflow: inherit;
}
#eNav .find {
	float: right;
	margin: 4px 10px 0 10px;
}
.body {
	position: relative;
}
footer.main {
	position: fixed;
	bottom: 0px;
	width: 100%;
	color: #101211;
	background-color: #BFBFBE;
	background-image: linear-gradient(#D1D1CF, #AAAAAA);
	background-image: -moz-linear-gradient(#D1D1CF, #AAAAAA);
	background-image: -webkit-linear-gradient(#D1D1CF, #AAAAAA);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D1D1CF), to(#AAAAAA));
	border-top: 1px solid #777777;
	z-index: 2;
}
footer.footer-clear-height {
	position: relative;
	height: 30px;
}
.padding-left {
	padding-left: 20px;
}
a {
	color: inherit;
}
.clear {
	clear: both;
}
.clearfix, .clearfix-child:after {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  content: '';
}
img {
	border: none;
}
/*******************************************************************************
*                                                                              *
*                                PAGER                                         *
*                                                                              *
*******************************************************************************/
body .SplitPane-horizontal .right-pane {
	overflow-y: auto;
}
body .SplitPane-horizontal .Grid {
	width: 100%;
	border: 0px none;
}
/*******************************************************************************
*                                                                              *
*                                EDITOR                                        *
*                                                                              *
*******************************************************************************/
body .Editor-TabbedPaneC {
	padding: 30px 370px 10px 30px;
}
body .Editor-TabbedPaneC .TabbedPane > .body {
	position: relative;
	box-shadow: 1px 1px 3px #999999;
	-webkit-box-shadow: 1px 1px 3px #999999;
	overflow-x: hidden;
	overflow-y: auto;
}
#ePublishC {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 300px;
	text-align: center;
}
	#ePublishC .imgC {
		display: block;
		width: 290px;
		height: 230px;
		margin-bottom: 10px;
	}
		#ePublishC .imgC img {
			display: block;
		}
body .SplitPane-horizontal .left-pane {
	position: fixed;
	top: auto;
	overflow: auto;
}
body .SplitPane-horizontal .Grid .body .link div {
	text-decoration: underline;
	color: #66F;
	cursor: pointer;
}
body .SplitPane-horizontal .right-pane div.info {
	width: auto;
	float: none;
	font-size: 48px;
	font-weight: bolder;
	text-align: center;
}
/* New item */
body .Editor-new-item {
	position: relative;
	margin: 30px auto 0;
	overflow: hidden;
	float: none;
	display: block;
	border: 1px solid #CCC;
	background: white;
	box-shadow: 1px 1px 3px #999999;
	-webkit-box-shadow: 1px 1px 3px #999999;
}
/*********************************** LOG **************************************/
#card-history table td.update {
	background: url("../../imgs/gt8/edit-small.png") no-repeat scroll center center transparent;
}
#card-history table td.delete {
	background: url("../../imgs/gt8/delete-small.png") no-repeat scroll center center transparent;
}
#card-history table td.insert {
	background: url("../../imgs/gt8/add-small.png") no-repeat scroll center center transparent;
}
/*******************************************************************************
*                                                                              *
*                                MODAL                                         *
*                                                                              *
*******************************************************************************/
html.modal-window, body.modal-window, html.modal-window body.Editor {
	overflow: hidden;
}
html body.Editor {
	overflow: auto;
}
body header.admin .hidden {
	display: none;
}
/*Toolbar*/
body.modal-window header.admin div.space div.toolbar {
	height: 40px;
}
body.modal-window header.admin nav.toolbar {
	height: 38px;
}
	body.modal-window header.admin nav.toolbar a, body.modal-window header.admin nav.toolbar span.group-button {
		height: 32px;
		line-height: 32px;
		margin: 2px 2px 0;
	}
		body.modal-window header.admin nav.toolbar a img {
			width: 28px;
			height: 28px;
			margin: 2px 3px 0;
		}
/*locationbar*/
body.modal-window header.admin nav.directory a.button {
	height: 22px;
	line-height: 22px;
	font-size: x-small;
	margin: 2px -32px 0 2px;
}
body.modal-window header.admin nav.directory {
	height: 28px;
	line-height: 28px;
}
body.modal-window header.admin div.space div.directory {
	height: 30px;
}
/*cards*/
body.modal-window .cards .card em,
body.modal-window .cards .card strong,
body.modal-window .cards .card span,
body.modal-window .cards .card small,
body.modal-window .cards .card a {
	margin: 0 2px;
	font-size: x-small;
}
body.modal-window .cards .title {
	height: 20px;
	line-height: 20px;
}
body.modal-window .cards .card span.imgC {
	height: 120px;
	margin: 2px auto;
}
/*TabbedPane*/
body.modal-window .TabbedPane > .header {
	height: 25px;
	padding-left: 7px;
	font-size: smaller;
}
body.modal-window .TabbedPane .header .tab div {
	height: 25px;
	line-height: 25px;
	padding: 0 7px;
}
body.modal-window .Editor-TabbedPaneC .body {
	padding: 10px 0 10px 10px;
	font-size: smaller;
	overflow: auto;
}
/*FORMS*/
body.modal-window .input-validation label {
	line-height: 40px;
	margin-bottom: 5px;
}
body.modal-window .input-validation label > strong {
	font-size: smaller;
	line-height: 35px;
}
body.modal-window .input-validation label > span {
	font-size: smaller;
}
body.modal-window .input-rounded-shadowed {
	height: 21px;
	padding: 8px 0;
}
body.modal-window .input-validation label > span small {
	padding: 0px 0 0 8px;
}
body.modal-window .input-validation label.positive em {
	line-height: 35px;
	background-position: -630px -41px;
}
body.modal-window .input-validation label > span textarea {
	height: 115px;
}
body.modal-window .e-select {
	height: 35px;
	line-height: 35px;
	margin-bottom: 5px;
}
body.modal-window .e-select span strong {
	line-height: 35px;
	font-size: inherit;
}
/*GENERAL*/
body.modal-window h3 {
	font-size: 16px;
	line-height: 26px;
	margin: 0 0 5px;
}
body.modal-window ul.folder li {
	line-height: 28px;
	margin: 0 6px;
}
body.modal-window ul.folder li img.left-icon-small {
	height: 24px;
	margin-right: 5px;
}
body.modal-window .padding-top {
	padding-top: 20px;
}
body.modal-window .padding-h {
	padding-left: 20px;
	padding-right: 20px;
}
body.modal-window #ePublishC {
	position: relative;
	left: 0px;
	top: 0px;
	width: 380px;
	background: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}
body.modal-window #ePublishC h3 {
	display: none;
}
body.modal-window #ePublishC .img-preview {
	display: none;
}
body.modal-window .Editor-new-item {
	padding: 20px;
	width: auto;
	float: none;
	margin: 30px 30px 20px;
	overflow: auto;
}
	body.modal-window .Editor-new-item span input {
		
	}
body.modal-window .Editor-new-item strong {
	font-size: 20px;
	line-height: 25px;
	height: 25px;
}
body.modal-window .Editor-new-item span {
	
}
#eModalBtC {
	padding: 10px 2px;
}
body.modal-window #eModalBtC {
	margin: 0 15px 10px;
}
#eModalBtC a {
	display: block;
	line-height: 60px;
}

/*******************************************************************************
*                                                                              *
*                                LAYOUTS                                       *
*                                                                              *
*******************************************************************************/
/******************************* INPUT VALIDATION *****************************/
.input-validation label {
	position: relative;
	display: block;
	line-height: 28px;
	overflow: visible;
	margin-bottom: 10px;
}
.input-validation label > strong {
	position: relative;
	padding: 0px 0 0 0px;
	line-height: 50px;
	display: block;
}
.input-validation label > span {
	position: relative;
	display: block;
	padding: 3px 0;
	overflow: visible;
}
.input-validation label > span.clear {
	padding: 0;
}
.input-validation label > span input, .input-validation label > span textarea {
	
}
.input-validation label.readonly input {
	color: #BBB;
	text-shadow: none;
	box-shadow: none;
	background: #F2F2F2;
}
.input-validation label > span select {
	width: 100%;
}
body .input-validation label > span textarea, body .input-validation label > span textarea:hover {
	height: 230px;
	overflow: auto;
	padding: 8px 0px;
}
.input-validation label > span input:focus, .input-validation label > span textarea:focus {
	/* all desired property can be inherit from .input-rounded-shadowed */
}
.input-validation label > span small {
	position: absolute;
	left: 0px;
	top: 3px;
    padding: 7px 0 0 8px;
    font-family: inherit;
    font-size: inherit;
	letter-spacing: 2px;
    color: #DDDDDD;
    z-index: 1;
	cursor: text;
    -moz-user-select: none;
}
.input-validation label.align-center > span input {
	text-align: center;
}
.input-validation label.align-center > span small {
	text-align: center;
	padding-left: 0px;
	width: 100%;
}
.input-validation label > em {
	position: absolute;
	top: 0px;
	min-height: 30px;
	font-size: 12px;
	line-height: 20px;
	height: auto;
	margin-left: -50px;
	padding: 10px 0 0 60px;
}
	.input-validation label > em.feedback {
		margin: 0 0 0 20px;
		padding-left: 30px;
	}
	.input-validation label.waiting > em {
		cursor: pointer;
	}
	.input-validation label > em.spinner-small {
		position: relative;
	}
.input-validation label.required em {
	background: url(../../imgs/gt8/input-sprite.png) left -0px no-repeat;
}
.input-validation label.positive em {
	color: #2A3;
	background: url(../../imgs/gt8/input-sprite.png) left -50px no-repeat;
}
.input-validation label.positive.waiting em {
	background: url(../../imgs/gt8/input-sprite.png) left -150px no-repeat;
}
.input-validation label.waiting em {
	background: url(../../imgs/gt8/input-sprite.png) left -150px no-repeat;
}
.input-validation label.spinning em, .input-validation label.waiting.spinning em {
	background: url(../../imgs/gt8/spinner.gif) 5px center no-repeat;
}
.input-validation label.error em {
	color: #C33;
	background: url(../../imgs/gt8/input-sprite.png) left -100px no-repeat;
}
.sidebar .input-validation label {
	padding: 0 10px;
}
/******************************* INPUT TYPES **********************************/
label.currency input {
	text-align: right;
}
label.float input {
	text-align: right;
}
label.integer input {
	text-align: right;
}
label.integer select {
	text-align: right;
}
label.integer span.e-select span strong {
	left: auto;
	right: 25px;
}
/******************************* SIDEBAR WITH SPLITPANE ***********************/
.sidebar section {
	position: relative;
	display: block;
	height: 100%;
}
/******************************* TABLE.LIST-FILTER ****************************/
table.list-filter {
	display: table;
}
table.list-filter th {
	background: #DDD;
	vertical-align: top;
}
table.list-filter td {
	vertical-align: top;
}
table.list-filter td input {
	display: block;
	height: 26px;
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	padding: 7px 10px;
}
table.list-filter td label {
	display: block;
}
table.list-filter td label input {
	display: inline;
}
table.list-filter td label input[type=checkbox] {
	position: relative;
	top: 5px;
}
table.list-filter td select {
	
}
table.list-filter th span, table.list-filter th strong,
table.list-filter td span, table.list-filter td strong {
	display: block;
	padding: 5px 10px;
	cursor: default;
}
/******************************* PAGING ***************************************/
.paging span, .paging label, .paging strong, .paging small, .paging a {
	float: left;
	display: block;
	text-align: center;
	height: 28px;
	line-height: 28px;
	cursor: pointer;
	border-radius: 5px;
	margin: 2px 4px;
	font-size: small;
}
.paging a span {
	display: block;
	padding: 0 10px;
	margin: 0px;
}
.paging strong, .paging small {
	padding: 0 10px;
	cursor: default;
	border: 1px solid #888;
}
.paging .disabled {
	cursor: default;
	background: #B2B2B2;
	box-shadow: 1px 1px 3px inset;
}
.paging span.flex-space {
	width: 300px;
}
/********************** GROWL-SPINNER *****************************************/
.growl-spinner-upper-right {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 1000;
}
.growl-spinner {
	position: fixed;
}
	.growl-spinner-upper-right .growl-spinner {
		position: relative;
		margin-bottom: 20px;
		float: right;
		clear: both;
	}
	.growl-spinner > div {
		overflow: hidden;
		border-radius: 10px;
		padding: 20px;
		line-height: 22px;
		background: #000;
		opacity: 0.8;
	}
	.growl-spinner > div.error {
		background: #600;
	}
	.growl-spinner > div.error .sp-imgC img, .growl-spinner > div.affected .sp-imgC img, .growl-spinner > div.message .sp-imgC img, .growl-spinner > div.value .sp-imgC img, .growl-spinner > div.undefined .sp-imgC img {
		visibility: hidden;
	}
		.growl-spinner div div.sp-imgC {
			float: left;
			margin-right: 10px;
		}
			.growl-spinner div.sp-imgC img {
				display: block;
				height: 22px;
			}
		.growl-spinner span {
			float: left;
			display: block;
			color: #FFF;
		}
/********************** SELECT ************************************************/
html body span.e-select {
	position: relative;
	display: block;
	height: 30px;
	line-height: 30px;
	overflow: visible;
}
	body span.e-select select {
		position: absolute;
		width: inherit;
		height: inherit;
		display: block;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		opacity: 0;
		filter: alpha(opacity=0);
		z-index: 10;
		-webkit-appearance: none;
	}
	body span.e-select span {
		position: relative;
		height: inherit;
		float: none;
		overflow: visible;
		margin: 0px;
		padding: 0;
	}
	body span.e-select:hover span {
		background-color: #DEDEDE;
		background-image: -webkit-linear-gradient(#FDFDFD, #B8B8B8);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#B8B8B8));
		background-image: -moz-linear-gradient(#FDFDFD, #B8B8B8);
		background-image: linear-gradient(#FDFDFD, #B8B8B8);
	}
		body span.e-select span strong {
			position: absolute;
			left: 0px;
			top: 0px;
			text-indent: 10px;
			line-height: 30px;
			padding: 0px;
		}
		body span.e-select span img {
			position: relative !important;
			float: right;
			left: -11px;
			top: 14px;
		}
.input-validation span.e-select {
	/*width: inherit;*/
	height: 42px;
	line-height: 42px;
	/*padding-top: 5px; ????*/
}
	.input-validation span.e-select span strong {
		line-height: 42px;
	}
	.input-validation span.e-select span img {
		top: 17px;
	}
.out-hidden, span.out-hidden {
	background: none;
	border: 1px solid #FFF;
	box-shadow: none;
	-webkit-box-shadow: none;
}
/*******************************************************************************
*                                                                              *
*                                CARDS                                         *
*                                                                              *
*******************************************************************************/
.cards {
	position: relative;
}
.cards .card {
	position: relative;
    margin-bottom: 20px;
    text-decoration: none;
    border-radius: 2px;
	line-height: 18px;
	box-shadow: 0px 0px 1px #666;
	background: #FFF;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.cards .card:hover:not(.selected) {
	box-shadow: 0 0 8px #333;
}
body .cards .selected {
	background: #C2C2C2;
}
body .cards .focused {
	box-shadow: 0px 0px 4px #005;
}
.cards .card > em, .cards .card > strong, .cards .card > span, .cards .card > small, .cards .card > a {
	margin: 0 10px;
	display: block;
	overflow: hidden;
	text-align: center;
}
.cards .card span {
	height: 22px;
}
	.cards .card span.large {
		height: 50px;
		line-height: 50px;
		font-weight: bold;
		font-size: 32px;
	}
.cards .card .imgC {
	height: 164px;
	margin: 5px auto;
	text-align: center;
}
.imgC img {
	position: relative;
	height: 100%;
	width: auto;
}
.cards .card span.imgC img.larger-than-taller {
	
}
.cards .card small {
	height: 15px;
	line-height: 100%;
	font-size: xx-small;
}
.cards .card small.small-icn {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 32px;
	height: 32px;
}
.cards .semi-invisible {
	opacity: 0.85;
	filter: Alpha(opacity=85);
}
.cards .card .hidden {
	display: none;
}
.cards .card .text-left-aligned {
	text-align: left;
}
.cards .card .delete-button {
	position: absolute;
	right: 5px;
	bottom: 5px;
	width: 30px;
	height: 30px;
	background: #EEE url(../../imgs/gt8/delete-small.png) no-repeat center;
	border: 1px solid #CCC;
	border-radius: 9px;
	margin: 0px;
	opacity: 0;
	transition: all 0.8s;
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
}
.cards .card:hover .delete-button {
	opacity: 1;
}
/******************************* CARD-RESUME **********************************/
.cards .card-resume {
	font-size: 11px;
	border: 1px solid #CCC;
	padding: 5px 0;
	box-shadow: 1px 1px 3px #CCC;
}
	.cards .card-resume a {
		display: block;
		height: 25px;
		line-height: 25px;
		border-radius: 7px;
		transition: background 0.6s;
		-moz-transition: background 0.6s;
		-webkit-transition: background 0.6s;
	}
		.cards .card-resume a:hover {
			text-decoration: underline;
			background: #FDE6A3;
			transition: background 0.4s;
			-moz-transition: background 0.4s;
			-webkit-transition: background 0.4s;
		}
		.cards .card-resume a span {
			text-align: right;
			margin: 0px;
		}
		.cards .card-resume a span.text {
			text-align: left;
		}
			.cards .card-resume a:hover span.text {
				text-decoration: underline;
			}
	.cards .card-resume .title {
		height: 30px;
		line-height: 30px;
		overflow: hidden;
		text-transform: uppercase;
		font-weight: bolder;
		font-size: 13px;
	}
	.cards .card-resume em {
		height: 20px;
		line-height: 20px;
		border-top: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
		margin-bottom: 10px;
	}
	.cards .card-resume:hover {
		background: none;
	}
	.cards .card .title {
		height: 36px;
		line-height: 18px;
		overflow: hidden;
	}
	.cards .subhead {
		border-top: 1px solid #CCC;
		font-weight: bolder;
	}
	.cards .card .currency, .cards .card .integer {
		overflow: hidden;
		font-size: 11px;
		height: 15px;
	}
		.cards .currency small, .cards .integer small {
			float: left;
			line-height: 15px;
			margin: 0px;
		}
		.cards .currency strong, .cards .integer strong {
			float: right;
			font-size: smaller;
			line-height: 15px;
			margin: 0px;
		}
.cards .card-border {
	border: 1px solid #CCC;
}
	.cards .card.card-linear {
		
	}
		.cards .card.card-linear .imgC {
			position: absolute;
			left: 0;
			margin-left: 0px;
			top:  0px;
			width: 120px;
			height: 100px;
		}
		.cards .card.card-linear > em, .cards .card.card-linear > strong, .cards .card.card-linear > span, .cards .card.card-linear > small, .cards .card.card-linear > a {
			margin: 0 10px 0 130px;
			text-align: left;
		}
/******************************* BGS ******************************************/
.bg-linear-light-gray {
	background: #EEE !important;
	background-image: linear-gradient(#FFF, #F5F5F5) !important;
	background-image: -webkit-linear-gradient(#FFF, #F5F5F5) !important;
	background-image: -moz-linear-gradient(#FFF, #F5F5F5) !important;
}
.bg-linear-gray {
	background: #DDD;
	background-image: linear-gradient(#E9E9E9, #A4A8A7);
	background-image: -moz-linear-gradient(#E9E9E9, #A4A8A7);
	background-image: -webkit-linear-gradient(#E9E9E9, #A4A8A7);
}
/******************************* UL LI ****************************************/
ul.folder {
	line-height: 32px;
}
ul.folder li {
	position: relative;
	line-height: 32px;
	padding-top: 1px;
	padding-bottom: 1px;
	background: transparent;
	margin: 0 10px;
	border-radius: 5px;
}
ul.folder li a {
	display: block;
	position: relative;
	text-decoration: none;
}
ul.folder li a:hover span {
	text-decoration: underline;
}
ul.folder li:hover, ul.folder li.selected {
	padding-top: 0px;
	padding-bottom: 0px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background: #CAD0DF;
}
ul.folder li.selected {
	background-color: #518FCD;
	background-image: linear-gradient(#6EA7DE, #2C70B9);
	background-image: -moz-linear-gradient(#6EA7DE, #2C70B9);
	background-image: -webkit-linear-gradient(#6EA7DE, #2C70B9);
	border-top: 1px solid #6592BC;
	border-top: 1px solid #3468A1;
	color: #F6FDFF;
	text-shadow: 1px 1px 2px #000;
}
ul.folder li a small {
	display: block;
	float: right;
	margin-right: 5px;
}
ul.checkbox {
	font-size: smaller;
}
	ul.checkbox li {
		line-height: 25px;
	}
		ul.checkbox li a {
			padding-left: 30px;
			background: transparent url(../../imgs/gt8/checkbox.png) no-repeat 5px 0px;
		}
		ul.checkbox li a.checked {
			padding-left: 30px;
			background: transparent url(../../imgs/gt8/checkbox.png) no-repeat 5px -50px;
			color: #444;
		}
			ul.checkbox li a span {
				
			}
			ul.checkbox li a small {
				
			}
