.links-menu {
	
}
	.links-menu > a {
		display: block;
		position: relative;
		font-size: 0.9em;
		line-height: 300%;
		text-indent: 30px;
		transition: all 0.4s;
		-moz-transition: all 0.4s;
		-webkit-transition: all 0.4s;
	}
		.links-menu > a:hover {
			background: #EEE;
		}
		.links-menu > a.selected {
			color: #666;
			font-weight: bold;
			text-shadow: 0 1px 0 #FFF;
			background: #EEE;
			background-image: linear-gradient(#DDD, #F2F2F2);
			background-image: -moz-linear-gradient(#DDD, #F2F2F2);
			background-image: -webkit-linear-gradient(#DDD, #F2F2F2);
			box-shadow: 0 1px 0 #BBB, 0 -1px 0 #BBB;
			z-index: 2;
		}
		.links-menu > a.selected:after {
			content: "";
			display: block;
			position: absolute;
			top: 7px;
			right: 7px;
			width: 20px;
			height: 20px;
			background: transparent url(../../imgs/arrow-left-small.png) no-repeat center;
		}
@media screen and (max-width:767px) {
	#eMain > .account > .card > .grid-4 {
		
	}
	#eMain > .account > .card > .grid-8 {
		background: #FFFFFF url("../../imgs/hr-shadow.png") no-repeat center top;
	}
}
@media screen and (max-width:480px) {
	
}

.panel-right {
	min-height: 410px;
}
	.panel-right a.card {
		background: #F9F9F9;
		background-image: linear-gradient(#FDFDFD, #DBDBDD);
		background-image: -ms-linear-gradient(#FDFDFD, #DBDBDD);
		background-image: -moz-linear-gradient(#FDFDFD, #DBDBDD);
		background-image: -webkit-linear-gradient(#FDFDFD, #DBDBDD);
		border-radius: 8px;
	}
		.panel-right a.card > span {
			background: #FFF;
			background: rgba(255,255,255,1);
			transition: all 0.4s;
			-ms-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-webkit-transition: all 0.4s;
			border-radius: 8px;
			border: 1px solid rgba(255,255,255,0);
		}
			.panel-right a.card:hover > span {
				background: rgba(255,255,255,0);
				border: 1px solid #CCC;
			}
	body.orders .panel-right a.card {
		background-image: linear-gradient(#DBDBDD, #fff 35%, #fdfdfd 90%, #dbdbdd 100%);
		background-image: -ms-linear-gradient(#DBDBDD, #fff 35%, #fdfdfd 90%, #dbdbdd 100%);
		background-image: -moz-linear-gradient(#DBDBDD, #fff 35%, #fdfdfd 90%, #dbdbdd 100%);
		background-image: -webkit-linear-gradient(#DBDBDD, #fff 35%, #fdfdfd 90%, #dbdbdd 100%);
	}
		body.orders .panel-right a.card > span {
			background: rgba(255,255,255,0.8);
		}
