#eResults .body > div:nth-child( 2n+2) {
	background: rgba(100,100,100, 0.04);
}
#eResults .body > div > div {
	position: relative;
	overflow: hidden;
	transition: all 0.4s;
	-ms-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
	#eResults .body > div.delete > div:first-child:before {
		display: block;
		position: absolute;
		width: 22px;
		height: 30px;
		background: url("{{CROOT}}imgs/gt8/delete-aqua-small.png") no-repeat 0px center;
		background-size: 22px auto;
		text-indent: 20px;
		content: '';
		transition: all 0.4s;
		-ms-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-webkit-transition: all 0.4s;
	}
	#eResults .body > div.delete > div:first-child {
		text-indent: 25px;
	}
	#eResults .body > div.delete > div:last-child:before {
		position: absolute;
		right: -100%;
		top: 2px;
		line-height: 25px;
		text-align: center;
		padding: 0 30px;
		content: 'Excluir';
		background: linear-gradient(center top , #A80606, #900505 48%, #780404 52%, #3C0202) repeat scroll 0 0 #A80606;
		background: -ms-linear-gradient(center top , #A80606, #900505 48%, #780404 52%, #3C0202) repeat scroll 0 0 #A80606;
		background: -moz-linear-gradient(center top , #A80606, #900505 48%, #780404 52%, #3C0202) repeat scroll 0 0 #A80606;
		background: -webkit-linear-gradient(center top , #A80606, #900505 48%, #780404 52%, #3C0202) repeat scroll 0 0 #A80606;
		border-radius: 4px;
		color: #FFF;
		box-shadow: 0 0 1px 1px #444;
		
		transition: all 0.4s;
		-ms-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-webkit-transition: all 0.4s;
	}
		#eResults .body > div.delete.choose {
			background: rgba( 255,0,0, 0.1);
		}
			#eResults .body > div.delete.choose > div:first-child:before {
				transform: rotate(90deg);
			}
			#eResults .body > div.delete.choose > div:last-child:before {
				right: 0;
			}
