body.home {
	
}
body.home .resume {
	
}
body.home h1 {
	
}
#eDestaque .h1 {
	text-shadow: none;
	font-size: 25px;
	text-align: center;
}
#eDestaque .h2 {
	text-align: center;
	color: #AAA;
	font-size: medium;
}
body.account h2 {
	padding: 10px 200px;
	color: #AAA;
	font-size: medium;
}
body.account .align-center > hr {
	margin: 10px;
}
body.home .account ul li {
	line-height: 150%;
}
#eDestaque .imgC {
	height: 164px;
	text-align: center;
}
