		
		<style type="text/css" >
			.DivEditor {
				display: block;
				position: relative;
				color: #000;
				border: none;
			}
			.DivEditor {
				outline: 4px solid #CCC;
			}
			#ePublishAttach.actions {
				
			}
				#ePublishAttach.actions .group-button {
					height: auto;
					line-height: 30px;
					margin: 8px 17px 0 4px;
					user-select: none;
					-moz-user-select: none;
					-webkit-user-select: none;
				}
					#ePublishAttach.actions *:not(input,.input-encapsuled) {
						user-select: none;
						-ms-user-select: none;
						-moz-user-select: none;
						-webkit-user-select: none;
						user-select: none;
						-moz-user-select: none;
						-webkit-user-select: none;
					}
					#ePublishAttach.actions .group-button button {
						width: 32px;
						height: 30px;
						cursor: default;
						line-height: 0;
						cursor: default;
					}
						#ePublishAttach.actions .group-button .smallest {
							font-size: xx-small;
						}
						#ePublishAttach.actions span.group-button button:first-child {
							border-radius: 4px 0 0 4px;
						}
						#ePublishAttach.actions span.group-button button:last-child {
							border-radius: 0px 4px 4px 0px;
						}
						#ePublishAttach.actions .group-button img {
							width: 16px;
							height: 16px;
							margin: 4px;
						}
			#ePublishAttach.actions .halfwidth {
				width: 48%;
				margin-right: 4px;
			}
		</style>